.root {
    display: flex;
    min-inline-size: 0;
    flex-wrap: wrap;
    row-gap: var(--pixie-sidebar-row-gap, var(--pixie-sidebar-gap));
    column-gap: var(--pixie-sidebar-column-gap, var(--pixie-sidebar-gap));
}

.sideStart > :first-child,
.sideEnd > :last-child {
    min-inline-size: min(100%, var(--pixie-sidebar-side-width));
    flex-basis: var(--pixie-sidebar-side-width);
    flex-grow: 1;
}

.sideStart > :last-child,
.sideEnd > :first-child {
    min-inline-size: min(100%, var(--pixie-sidebar-content-min-width));
    flex-basis: 0;
    flex-grow: 999;
}

.root > * {
    max-inline-size: 100%;
}

.sideWidthExtraSmall {
    --pixie-sidebar-side-width: 10rem;
}

.sideWidthSmall {
    --pixie-sidebar-side-width: 14rem;
}

.sideWidthMedium {
    --pixie-sidebar-side-width: 18rem;
}

.sideWidthLarge {
    --pixie-sidebar-side-width: 24rem;
}

.sideWidthExtraLarge {
    --pixie-sidebar-side-width: 30rem;
}

.contentMinWidthHalf {
    --pixie-sidebar-content-min-width: 50%;
}

.contentMinWidthTwoThirds {
    --pixie-sidebar-content-min-width: 66.6667%;
}

.contentMinWidthThreeQuarters {
    --pixie-sidebar-content-min-width: 75%;
}

.gapNone {
    --pixie-sidebar-gap: 0rem;
}

.gapExtraSmall {
    --pixie-sidebar-gap: 0.5rem;
}

.gapSmall {
    --pixie-sidebar-gap: 1rem;
}

.gapMedium {
    --pixie-sidebar-gap: 1.5rem;
}

.gapLarge {
    --pixie-sidebar-gap: 2rem;
}

.gapExtraLarge {
    --pixie-sidebar-gap: 3rem;
}

.rowGapNone {
    --pixie-sidebar-row-gap: 0rem;
}

.rowGapExtraSmall {
    --pixie-sidebar-row-gap: 0.5rem;
}

.rowGapSmall {
    --pixie-sidebar-row-gap: 1rem;
}

.rowGapMedium {
    --pixie-sidebar-row-gap: 1.5rem;
}

.rowGapLarge {
    --pixie-sidebar-row-gap: 2rem;
}

.rowGapExtraLarge {
    --pixie-sidebar-row-gap: 3rem;
}

.columnGapNone {
    --pixie-sidebar-column-gap: 0rem;
}

.columnGapExtraSmall {
    --pixie-sidebar-column-gap: 0.5rem;
}

.columnGapSmall {
    --pixie-sidebar-column-gap: 1rem;
}

.columnGapMedium {
    --pixie-sidebar-column-gap: 1.5rem;
}

.columnGapLarge {
    --pixie-sidebar-column-gap: 2rem;
}

.columnGapExtraLarge {
    --pixie-sidebar-column-gap: 3rem;
}

.alignStretch {
    align-items: stretch;
}

.alignStart {
    align-items: flex-start;
}

.alignCenter {
    align-items: center;
}

.alignEnd {
    align-items: flex-end;
}
