.root {
    --pixie-grid-row-gap: var(--pixie-grid-gap);
    --pixie-grid-column-gap: var(--pixie-grid-gap);

    display: grid;
    min-width: 0;
    grid-template-columns: repeat(
        var(--pixie-grid-distribution),
        minmax(
            min(
                100%,
                max(
                    var(--pixie-grid-min-item-width),
                    calc(
                        (
                                100% - (var(--pixie-grid-max-columns) - 1) *
                                    var(--pixie-grid-column-gap)
                            ) /
                            var(--pixie-grid-max-columns)
                    )
                )
            ),
            1fr
        )
    );
    row-gap: var(--pixie-grid-row-gap);
    column-gap: var(--pixie-grid-column-gap);
}

.distributionFit {
    --pixie-grid-distribution: auto-fit;
}

.distributionFill {
    --pixie-grid-distribution: auto-fill;
}

.columnsOne {
    --pixie-grid-max-columns: 1;
}

.columnsTwo {
    --pixie-grid-max-columns: 2;
}

.columnsThree {
    --pixie-grid-max-columns: 3;
}

.columnsFour {
    --pixie-grid-max-columns: 4;
}

.columnsFive {
    --pixie-grid-max-columns: 5;
}

.columnsSix {
    --pixie-grid-max-columns: 6;
}

.minItemWidthExtraSmall {
    --pixie-grid-min-item-width: 10rem;
}

.minItemWidthSmall {
    --pixie-grid-min-item-width: 14rem;
}

.minItemWidthMedium {
    --pixie-grid-min-item-width: 18rem;
}

.minItemWidthLarge {
    --pixie-grid-min-item-width: 24rem;
}

.gapNone {
    --pixie-grid-gap: 0rem;
}

.gapExtraSmall {
    --pixie-grid-gap: 0.5rem;
}

.gapSmall {
    --pixie-grid-gap: 1rem;
}

.gapMedium {
    --pixie-grid-gap: 1.5rem;
}

.gapLarge {
    --pixie-grid-gap: 2rem;
}

.gapExtraLarge {
    --pixie-grid-gap: 3rem;
}

.rowGapNone {
    --pixie-grid-row-gap: 0rem;
}

.rowGapExtraSmall {
    --pixie-grid-row-gap: 0.5rem;
}

.rowGapSmall {
    --pixie-grid-row-gap: 1rem;
}

.rowGapMedium {
    --pixie-grid-row-gap: 1.5rem;
}

.rowGapLarge {
    --pixie-grid-row-gap: 2rem;
}

.rowGapExtraLarge {
    --pixie-grid-row-gap: 3rem;
}

.columnGapNone {
    --pixie-grid-column-gap: 0rem;
}

.columnGapExtraSmall {
    --pixie-grid-column-gap: 0.5rem;
}

.columnGapSmall {
    --pixie-grid-column-gap: 1rem;
}

.columnGapMedium {
    --pixie-grid-column-gap: 1.5rem;
}

.columnGapLarge {
    --pixie-grid-column-gap: 2rem;
}

.columnGapExtraLarge {
    --pixie-grid-column-gap: 3rem;
}

.alignStretch {
    align-items: stretch;
}

.alignStart {
    align-items: start;
}

.alignCenter {
    align-items: center;
}

.alignEnd {
    align-items: end;
}

.justifyStretch {
    justify-items: stretch;
}

.justifyStart {
    justify-items: start;
}

.justifyCenter {
    justify-items: center;
}

.justifyEnd {
    justify-items: end;
}
