# Dépendances
/node_modules

# Next.js
/.next/
/out/

# Build
/build

# Tests
/coverage

# Environnement
.env*
!.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Système
.DS_Store
*.pem

# Logs
.pnpm-debug.log*

# VS Code
.vscode/