.root {
    width: 100%;
}

.spacingNone {
    padding-block: 0;
}

.spacingSmall {
    padding-block: 2rem;
}

.spacingMedium {
    padding-block: clamp(2.5rem, 6vw, 3rem);
}

.spacingLarge {
    padding-block: clamp(3rem, 8vw, 4.5rem);
}

.spacingExtraLarge {
    padding-block: clamp(4rem, 10vw, 6rem);
}
