.root {
    width: 100%;
    min-width: 0;
    min-height: 0;
}

.spacingStartNone {
    padding-block-start: 0;
}

.spacingStartSmall {
    padding-block-start: 2rem;
}

.spacingStartMedium {
    padding-block-start: clamp(2.5rem, 6vw, 3rem);
}

.spacingStartLarge {
    padding-block-start: clamp(3rem, 8vw, 4.5rem);
}

.spacingStartExtraLarge {
    padding-block-start: clamp(4rem, 10vw, 6rem);
}

.spacingEndNone {
    padding-block-end: 0;
}

.spacingEndSmall {
    padding-block-end: 2rem;
}

.spacingEndMedium {
    padding-block-end: clamp(2.5rem, 6vw, 3rem);
}

.spacingEndLarge {
    padding-block-end: clamp(3rem, 8vw, 4.5rem);
}

.spacingEndExtraLarge {
    padding-block-end: clamp(4rem, 10vw, 6rem);
}
