.root {
    display: flex;
    min-width: 0;
    flex-wrap: wrap;
    row-gap: var(--pixie-switcher-row-gap, var(--pixie-switcher-gap));
    column-gap: var(--pixie-switcher-column-gap, var(--pixie-switcher-gap));
}

.root > * {
    min-width: 0;
    flex-grow: 1;
    flex-basis: calc((var(--pixie-switcher-threshold) - 100%) * 999);
}

.thresholdExtraSmall {
    --pixie-switcher-threshold: 30rem;
}

.thresholdSmall {
    --pixie-switcher-threshold: 40rem;
}

.thresholdMedium {
    --pixie-switcher-threshold: 50rem;
}

.thresholdLarge {
    --pixie-switcher-threshold: 60rem;
}

.thresholdExtraLarge {
    --pixie-switcher-threshold: 72rem;
}

.layoutAuto.limitTwo > :nth-last-child(n + 3),
.layoutAuto.limitTwo > :nth-last-child(n + 3) ~ *,
.layoutAuto.limitThree > :nth-last-child(n + 4),
.layoutAuto.limitThree > :nth-last-child(n + 4) ~ *,
.layoutAuto.limitFour > :nth-last-child(n + 5),
.layoutAuto.limitFour > :nth-last-child(n + 5) ~ *,
.layoutAuto.limitFive > :nth-last-child(n + 6),
.layoutAuto.limitFive > :nth-last-child(n + 6) ~ *,
.layoutAuto.limitSix > :nth-last-child(n + 7),
.layoutAuto.limitSix > :nth-last-child(n + 7) ~ * {
    flex-basis: 100%;
}

.layoutRow {
    flex-wrap: nowrap;
}

.layoutRow > * {
    flex-basis: 0;
}

.layoutStack {
    flex-direction: column;
    flex-wrap: nowrap;
}

.layoutStack > * {
    width: 100%;
    flex-basis: auto;
}

.gapNone {
    --pixie-switcher-gap: 0rem;
}

.gapExtraSmall {
    --pixie-switcher-gap: 0.5rem;
}

.gapSmall {
    --pixie-switcher-gap: 1rem;
}

.gapMedium {
    --pixie-switcher-gap: 1.5rem;
}

.gapLarge {
    --pixie-switcher-gap: 2rem;
}

.gapExtraLarge {
    --pixie-switcher-gap: 3rem;
}

.rowGapNone {
    --pixie-switcher-row-gap: 0rem;
}

.rowGapExtraSmall {
    --pixie-switcher-row-gap: 0.5rem;
}

.rowGapSmall {
    --pixie-switcher-row-gap: 1rem;
}

.rowGapMedium {
    --pixie-switcher-row-gap: 1.5rem;
}

.rowGapLarge {
    --pixie-switcher-row-gap: 2rem;
}

.rowGapExtraLarge {
    --pixie-switcher-row-gap: 3rem;
}

.columnGapNone {
    --pixie-switcher-column-gap: 0rem;
}

.columnGapExtraSmall {
    --pixie-switcher-column-gap: 0.5rem;
}

.columnGapSmall {
    --pixie-switcher-column-gap: 1rem;
}

.columnGapMedium {
    --pixie-switcher-column-gap: 1.5rem;
}

.columnGapLarge {
    --pixie-switcher-column-gap: 2rem;
}

.columnGapExtraLarge {
    --pixie-switcher-column-gap: 3rem;
}

.alignStretch {
    align-items: stretch;
}

.alignStart {
    align-items: flex-start;
}

.alignCenter {
    align-items: center;
}

.alignEnd {
    align-items: flex-end;
}
